.App {
  text-align: center;
  width: 100% ;
}

.App:after {
  content: "";
  display: table;
  clear: both;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 40vmin;*/
  pointer-events: none;
  text-align: left;
}

.App-header {
  background-color: #dee3da;
  min-height: 100vh;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

h3{
  color: #ff5910;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row{
}

.column {
  float: left;
  width: 24%;
  text-align: center;
  border : 1px solid gray;
  margin-right: 5px;
  background-color: #ffffff;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.row-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
.col-table {
    display: table-cell;
    float: none;
    height: 100%;
}
.col-content {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
@media (min-width: 480px) {
  .row-xs-table {
      display: table;
      table-layout: fixed;
      width: 100%;
      height: 100%;
  }
  .col-xs-table {
      display: table-cell;
      float: none;
      height: 100%;
  }
}

@media (min-width: 768px) {
  .row-sm-table {
      display: table;
      table-layout: fixed;
      width: 100%;
      height: 100%;
  }
  .col-sm-table {
      display: table-cell;
      float: none;
      height: 100%;
  }
}

@media (min-width: 992px) {
  .row-md-table {
      display: table;
      table-layout: fixed;
      width: 100%;
      height: 100%;
  }
  .col-md-table {
      display: table-cell;
      float: none;
      height: 100%;
  }
}

@media (min-width: 1200px) {
  .row-lg-table {
      display: table;
      table-layout: fixed;
      width: 100%;
      height: 100%;
  }
  .col-lg-table {
      display: table-cell;
      float: none;
      height: 100%;
  }
}